@charset "utf8";
@import 'reset';

$font:'Lora', serif;
$fontTitre:'Lobster', cursive;

$bigFont:3.5em;
$mediumFont:2.5em;
$smallFont:2em;
$smallerFont:1.5em;
$littleFont:1.2em;
$tinyFont:1em;

$tablet: "(min-width: 0px) and (max-width: 1023px)";
$mobile: "(min-width: 0px) and (max-width: 780px)";

@mixin transition($second){
	-webkit-transition:all $second ease-in-out;
	-moz-transition:all $second ease-in-out;
	-o-transition:all $second ease-in-out;
	-ms-transition: all $second ease;  
	transition:all $second ease-in-out;
}
h1,h2,h3{
	font-family:$fontTitre;
}
p,li,h4{
	font-family:$font;
} 	

html,body{
	height:100%;
}
.index{
	width:100%;
	height:100%;
	background-color:#e9e9e9;
	text-align:center;
	
	#test{
		width:100%;
		height:100%;
		position:absolute;
	}
	#Parallax{
        height: 50%;
        margin-top:150px;
        overflow: hidden;
        position: relative;
        width: 30%;
        margin:0 auto;
	}
	#Parallax img{
		position: absolute;
		width:60%;
		left:10%;
        top: 0;
       	//@include transition(00ms);
	}
	h1{
		font-size:$smallFont;
		position:absolute;
		bottom:85px;
		@include transition(500ms);
	}
	.titreGauche{
		left:100px;
	}
	.titreDroite{
		right:100px;
	}
	a {
		color:black;
	}
	h1:hover{
		bottom:90px;
		@include transition(500ms);
	}
}
header{
	nav{
		width:94%;
		height:57px;
		background-color:rgba(6,6,6,0.8);
		padding:13px 3% 13px 3%;
		color:white;
		position:fixed;
		z-index:10;
		
		@media #{$mobile} {
	    	text-align:center;
	  	}	
		
		h1{
			font-size:$bigFont;
			display:inline-block;
			opacity:1;
			@include transition(1500ms);
		}
		a{
			color:white;
		}
		.titreIntro{
			opacity:0;
			@include transition(1500ms);	
		}
		ul{
			float:right;
			margin-top:19px;
			width:70%;
			font-size:$littleFont;

			@media #{$mobile} {
	    		display:none;
	  		}	

			li{
				font-family:$fontTitre !important;
				float:right;
				display:inline-block;
				padding:0 2% 0 2%;
				opacity:1;
				@include transition(900ms);
			}
			li:hover{
				margin-top:-5px;
				@include transition(500ms);
			}
			.navIntro{
				opacity:0;
				margin-top:-500px;
				@include transition(500ms);
			}
		}
	}
}
.conteneurPrincipal{
    height: 100%;
	width:100%;

	.contenu{
		float:left;
    	overflow: scroll;
    	height:100%;
	}
	#partieGauche{
		width:50%;
		background-color:white;
		text-align:center;
	
		@media #{$tablet} {
	    	width:100%;
	  	}	
		#sectionLogo{
			position:relative;
		}
		.texteGauche{
			padding:0 10%;
			z-index:5;
		}

		#logo{
			max-width:100%;
			display:block;
			margin:0 auto;
		}
		h2{
			font-size:$mediumFont;
		}
		p{
			text-align:left;
			line-height:25px;
		}
		.personnages{
			margin-top:120px;
			width:20%;
			@include transition(500ms);
		}
		.grosPersonnages{
			width:28%;
		}
		.petitPersonnages{
			width:17%;
		}
		.titreSection{
			font-size:$smallFont;
			font-weight:100;
			margin:30px 0 75px 0;
		}
		#moi{
			width:100%;
			height:auto;
			overflow:hidden;

			.texteMoi{
				font-size:$tinyFont;
				font-weight:50;
				width:45%;
				padding:0 5% 0 0;
				height:auto;
				float:left;
				text-align:left;

				@media #{$mobile} {
	    			width:90%;
	    			padding:0 5% 0 5%;
	    			margin-top:20px;
	  			}

			}
			.texteMoi:last-child{
				padding:0 0 0 5%;
			}
		}
			 .texteMoiLast{
				margin-bottom:100px;	
			}		
		.sectionsBg{
			background-image:url(../images/bgGris.png);
			background-size:100% 100%;
			background-position:0 70px;
			background-repeat:no-repeat;
		}
		.finBg{
			height:150px;
			width:100%;
			background-image:url(../images/bgGrisFin.png);
			background-size:100% 100%;
		}
		#journal{
			.texteSection{
				font-size:$tinyFont;
				font-weight:50;		
			}
			.titreParagraphe{
				text-align:left;
				font-size:$smallerFont;
				font-weight:600;
				margin:50px 0 30px 0; 
			}
			.listeMateriel{
				font-size:$tinyFont;
				text-align:left;
				list-style-type: disc;
				list-style-position: inside;
				line-height:20px;
			}
			.pExercices{
				margin:0;
				font-size:$tinyFont;
			}
			.pExercices:last-child{
				padding-bottom:50px;
			}
			.nomExercice{
				font-weight:bold;
			}
			.separationExercice{
				margin-bottom:30px;
			}
		}
		.tarifs{
			width:100%;
		}
		.titreInfos{
			margin:25px 0 10px 0;
		}
		.informations{
			text-align:left;

			ul{
				line-height: 20px;
			} 
		}
		#lesTemoignages{
			.textesTemoignages{
				text-align:center;
				font-style:italic;
				margin-bottom:35px;
			}
			.auteurTemoignages{
				text-align:center;
				padding-bottom:90px;
			}
			.auteurTemoignages:last-child{
				padding-bottom:150px;
			}
		}
		footer{
			width:100%;
			height:auto;
			padding:30px 0 30px 0;
			background-color:#383838;
			text-align:center;
			color:white;
			position:relative;

			.personnageFooter{
				position:absolute;
				top:-7%;
				left:40%;
				//margin-bottom:40px;
				width:20%;

				@media #{$mobile} {
	    			width:25%;
	    			left:38%;
	    			top:-6%;
	  			}	
			}
			h3{
				font-size:$smallFont;
				margin:10% 0 50px 0;
			}
			.form{
				width:92%;
				padding:0 4%;
				color: white;
				margin-bottom:50px;
				
				p{
					display:block;
					text-align:left;
					margin:0 0 20px 10px;
					font-family:$fontTitre;
				}
				.boutonradio{
					margin-right:50%;
					margin-bottom:25px;
					text-align:left;
				}
				.lesForm{
					background-color:#383838;
					border:2px solid #d6d6d0;
					border-radius:10px;
					margin-bottom:20px;
					padding-left:2%;
					font-family:$fontTitre;
					color: white;
				}
				.formPetite{
					width:45%;
					padding-left:2%;
					height:30px;
					@media #{$mobile} {
	    				width:97%;
	  				}
				}
				#formNom{
					margin-left:3%;
					@media #{$mobile} {
	    				margin-left:0%;
	  				}
				}
				.formGrosse{
					width:97%;
					height:30px;
				}
				#formMessage{
					height:130px;
					width:95%;
					padding-top:10px;
					padding-right:2%;
				}
			}
			p{
				font-size:$tinyFont;
				text-align:center;
			}
			.droits{
				margin-top:30px;
			}
		}
	}
	#partieDroite{
		background-color:white;
		width:50%;

		@media #{$tablet} {
    	display:none;
  		}
		
		li{
			list-style-type:none;
		}
		.imagesDroite{
			width:100%;
			float:left;
		}
	}
	.imagesGauche{
		width:50%;
		height:75%;
		float:left;
	}
	.titreGallerie{
		font-size:$smallFont;
		font-weight:100;
		padding:130px 0 50px 0;
		text-align:center;
	}

}